:host ::ng-deep .dashboard-dark-card {
  background: #1f2937;
  color: #fff;
  border: 0;
}

:host ::ng-deep .dashboard-dark-card .p-card-body {
  background: #1f2937;
}

:host ::ng-deep .p-selectbutton .p-button {
  border-radius: 0.75rem;
}

:host ::ng-deep .p-progressbar {
  background: #e5e7eb;
}
