.admin-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.main-card {
  border-radius: 14px;
}

.section-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.toolbar-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.quick-filters {
  display: flex;
  gap: 8px;
}

.action-buttons {
  display: flex;
  gap: 0.4rem;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quick-filters button.p-button {
  transition: all 0.2s ease;
}

.quick-filters button.p-button:not(.p-button-outlined) {
  transform: scale(1.05);
}

.active-filter {
  transform: scale(1.05);
  font-weight: 600;
}
